* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #a2cce3;
}

.header {
    padding: 2px 0px 0px px;                          /* changes the size of the header section*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #11252f;
    color: #becb91e1;
}

.header h1 {
    display: inline-block; /* sets elements in one line*/
    font-size: 47px;
}

.header h1 .seo { /* changes the color for capital letters in H1 element*/
    color: #c83af4;
    
}

.header nav { /* adjusts position of nav links*/
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;      /* sets all header elements at in line at the top of the page*/
    margin-left: 30px;
}

.header a {
    color: #ebcdcf;
    text-decoration: underline;
    box-sizing: border-box;
    background-color: #587758;  /* Set the background color of the navigation box */
    border: 1px solid rgba(236, 237, 142, 0.514); /* Set the black border of 1px */
    border-radius: 5px; /* Add some border radius for a rounded corner effect */
    padding: 3px 10px 10px 10px; /* Add some padding to the navigation box */
}

nav {
    margin-top: 1%;
}

.him {                 
    width: 100%;        /* image in the header*/
    height: 120px;
    margin: 1% 0% 0% 0%;
    padding: 0% 0 0% 0%;
}

h2 {
    float: right;   /*titles on the right side*/
    font-size: 35px;
    margin-right: 1%
}

.inheader {
    display: flow-root; /* places" LIfe as Art inside of the box*/ 
}

.about,
.contact,                /*links in the header*/
.work {
    display: flex;
    margin-top: 3%;
   
}

.contact {
    margin-bottom: 5%;
}

section .heading {          /* texst in About me*/
    width: 25%;
    text-align: center;
    
}
h1{
    padding: 5px 5px;  
    margin: 8px 50px;
    border-radius: 5px;
    background-color: #eae15f;
    color: rgb(28, 27, 27);
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 24px;
    word-spacing: 1.5px;
    line-height: 1.5;
}


section .content {
    width: 75%;
    margin-right: 100px;
}

 .work img:hover {  /*changes opacity of images when cursor moves over*/
    opacity: .6;
} 

.firstImg, .smallImg {
    position: relative;
    
    
}

.firstImg img {  /* big image*/
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 3px solid rgb(48, 41, 41);
    margin-bottom: 7px;
    border-radius: 4px;
}



.firstImg figcaption, .smallImg figcaption /*smaller images*/
{ 
    position: absolute;
    bottom: 23px;
    padding: 8px;
    background-color: #e8e18b;
    color: rgb(28, 27, 27);
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
    
}

.grid img       /* sets the grid*/
{
    width: 34vw;
    height:25vw;
    border: 3px solid rgb(48, 36, 36);
    margin-bottom: 7px;
    border-radius: 3px;
}

.content ul {          /* sets up contact section*/
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 22px
}

.content li {
    list-style-type:none;
}

.content .phone li a {
    text-decoration: underline;
    color: #11252f;
}

footer {                            /*sets up footer*/
    background-color: #11252f;
    color: rgb(199, 78, 78);
    text-align: center;
    padding: 15px;
    
}